<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TeamScript</title>
  <style>
    body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
    }
    h1 {
      text-align: center;
    }
    .button-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 10px;
    }
  </style>
</head>
<body>
  <h1>TeamScript TEST</h1>
  <div class="button-container">
    <form action="/change_data" method="get">
      <button type="submit"><h4 style="font-family: Arial, Helvetica, sans-serif;">Change DB data</h4></button>
    </form>
  </div>
</body>
</html>
