.main {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.column {
    min-width: 15vw;
    max-width: 18vw;
    margin-bottom: 10px;
    margin-right: 10px;
    display: inline-block;
    border: 2px dashed #D9D9D9;

}

.tasklist {
    height: 150vh;
}